{% extends 'base.html.twig' %}

{% block title %} VIBE | Votre profil{% endblock %}

{% block body %}
<section class="account_wrapper">
    <div class="orders_wrapper">
        <a class="disconnect" href="{{ path('app_logout') }}">Déconnexion</a>
        <strong>Vos commandes</strong>
        <section class="orders_list_wrapper">
            <div class="orders_list_container">
                {% for order in orders %}
                    <div class="order_wrapper">
                        <div class="order_name">
                            {% for firstEvent in order.events[:1] %}
                                {{ firstEvent.name }} - {{ firstEvent.location }}
                            {% endfor %}
                        </div>
                        <div class="order_main">
                        <span class="order_date">
                            {{ order.date | date ('d M Y') }}
                        </span>
                            <div class="order_price">
                                {{ order.price }}€
                            </div>
                            <div class="order_divider"></div>
                            <div class="order_list">
                                {% for event in order.events %}
                                    <div class="order_row">
                                        <div class="order_row_name">
                                            <span>{{ event.name }}</span>
                                        </div>
                                        <div class="order_qty_price">
                                            <span>x{{ event.quantity }}</span>
                                            <span>{{ event.price * event.quantity }}€</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a href="{{ path('set_pdf', {'order': order.id}) }}.pdf" class="download_pdf">
                                <span>Télécharger la facture</span>
                                <img src="{{ asset('assets/download.svg') }}" alt="icône de téléchargement">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</section>
{% endblock %}
