{% extends 'base.html.twig' %}

{% block title %}VIBE{% endblock %}

{% block body %}
    <div class="filters_wrapper">
        <div class="loc_price_container">
            <div class="location_wrapper">
                <label for="location">Salle: </label>
                <select class="filters_location" name="location">
                    <option value="toutes">Toutes</option>
                    {% for location in locations %}
                        <option value="{{ location.name }}">{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filters_price">
                <label for="price">Prix max: </label>
                <div>
                    <input type="range" value="50" max="50" name="price" id="price" class="price_filter">
                    <span class="max_price">50€</span>
                </div>
            </div>
        </div>
        <div class="filters_categories">
                <label for="tout" class="category_filter">
                    <input id="tout" checked type="radio" name="category"/>
                    <span class="category_name">Tout</span>
                </label>
            {% for category in categories %}
                <label for="{{ category.name }}" class="category_filter">
                    <input id="{{ category.name }}" type="radio" name="category"/>
                    <span class="category_name">{{ category.name }}</span>
                </label>
            {% endfor %}
        </div>
    </div>
<main>
    <section class="events_section events">
        {% for event in events %}

            <div class="event_container">
                <input type="hidden" name="price" value="{{ event.price }}" class="event_price">
                <input type="hidden" name="price" value="{{ event.location.name }}" class="event_location_hidden">
                <div class="event_cover">
                    <a href={{ path('event_page', {'event':event.id}) }}>
                        <img src="{{ asset('events/' ~event.cover) }}" alt="affiche {{ event.title }}">
                    </a>
                </div>
                <div class="event_price_category">
                    <span><img class="icon" alt="icône de prix" src="{{ asset('assets/pricetag.svg') }}">{{ event.price }}€</span><span class="event_category">{{ event.category.name }}</span>
                </div>
                <div class="event_infos">
                    <a href={{ path('event_page', {'event':event.id}) }}>
                        <strong class="event_title">{{ event.title }}</strong>
                        <div>
                            <span class="event_date"><img class="icon" alt="icône de calendrier" src="{{ asset('assets/calendar.svg') }}"> {{ event.__toString() }}</span>
                            <span class="event_location"><img class="icon" alt="icône de position" src="{{ asset('assets/location.svg') }}">{{ event.location.name }}</span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="no_results"></div>
    </section>
</main>
{% endblock %}
