{% extends 'base.html.twig' %}

{% block title %}VIBE{% endblock %}

{% block body %}
    <section>

        <div class="marquee_wrapper">
            <div class="marquee">
                <pre class="marquee_item">   <img src="{{ asset('assets/vibe_orange.svg') }}" alt="logo vibe">  |  PLUS D'ÉVÈNEMENTS QUE TU AIMES  |  </pre>
                <pre class="marquee_item">   <img src="{{ asset('assets/vibe_orange.svg') }}" alt="logo vibe">  |  PLUS D'ÉVÈNEMENTS QUE TU AIMES  |  </pre>
                <pre class="marquee_item">   <img src="{{ asset('assets/vibe_orange.svg') }}" alt="logo vibe">  |  PLUS D'ÉVÈNEMENTS QUE TU AIMES  |  </pre>
            </div>
        </div>
        <div class="events_section_strong">
            <strong>À ne pas louper</strong>
        </div>
        <div class="events_section">
            {% for event in events %}

                <div class="event_container">
                    <div class="event_cover">
                        <a href={{ path('event_page', {'event':event.id}) }}>
                            <img src="{{ asset('events/' ~event.cover) }}" alt="affiche {{ event.title }}">
                        </a>
                    </div>
                    <div class="event_price_category">
                        <span><img class="icon" alt="icône de prix" src="{{ asset('assets/pricetag.svg') }}"> {{ event.price }}€</span><span>{{ event.category.name }}</span>
                    </div>
                    <div class="event_infos">
                        <a href={{ path('event_page', {'event':event.id}) }}>
                            <strong class="event_title">{{ event.title }}</strong>
                            <span class="event_date"><img class="icon" alt="icône de calendrier" src="{{ asset('assets/calendar.svg') }}"> {{ event.__toString() }}</span>
                            <span class="event_location"><img class="icon" alt="icône de position" src="{{ asset('assets/location.svg') }}">{{ event.location.name }}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
