<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
            <header class="header">
                <nav>
                    <strong class="header_logo">VIBE</strong>
                    <div class="nav_links">
                        <a href="#"> <img class="nav_theater" src="{{ asset('assets/theater.svg') }}" alt="icône de théâtre"> </a>
                        <a href="#"> <img src="{{ asset('assets/location.svg') }}" alt="icône de lieux"> </a>
                        <a href="#"> <img src="{{ asset('assets/search.svg') }}" alt="icône de recherche"> </a>
                        <a href="{{ path('app_cart') }}"> <div><img src="{{ asset('assets/cart.svg') }}" alt="icône de panier"> <span class="panier"></span></div></a>
                        <a href="{{ path('app_account') }}"> <img src="{{ asset('assets/person.svg') }}" alt="icône de profil"> </a>
                    </div>
                </nav>
            </header>
        {% block body %}{% endblock %}
    </body>
</html>
