<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=500, initial-scale=1">
        <meta name="description" content="Réservez en ligne vos places avec Vibe pour les concerts, conférences, pièces de théâtre, évènements sportifs et ateliers près de chez vous. Ne manquez pas les meilleurs évènements de votre ville avec notre plateforme de réservation simple et pratique.">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
            <header class="header">
                <nav>
                    <div class="nav_events">
                        <a href="#"><span>Évènements</span> <img class="nav_theater" src="{{ asset('assets/theater.svg') }}" alt="icône de théâtre"> </a>
                        <a href="#"><span>Lieux</span><img src="{{ asset('assets/location.svg') }}" alt="icône de lieux"> </a>
                    </div>
                    <a href="{{ path('app_home') }}" class="header_logo"><img src="{{ asset('assets/vibe_orange.svg') }}" alt="Logo Vibe"></a>
                    <div class="nav_links">
                        <img class="display_search" src="{{ asset('assets/search.svg') }}" alt="icône de loupe">
                        <a href="{{ path('app_cart') }}"> <div><img src="{{ asset('assets/cart.svg') }}" alt="icône de panier"> <span class="panier"></span></div></a>
                        <a href="{{ path('app_account') }}"> <img src="{{ asset('assets/person.svg') }}" alt="icône de profil"> </a>
                    </div>
                </nav>
            </header>
            <section class="search_wrapper">
                <div class="close_search_container">
                    <span class="close_search">
                        Fermer
                    </span>
                </div>
                <div class="search_input_wrapper">
                        <div class="search_input_container">
                            <input type="hidden" class="search_action" value="{{ path('ajax_search') }}">
                            <input type="search" name="search" class="search" placeholder="Trouver un évènement">
                            <img src="{{ asset('assets/search.svg') }}" alt="icône de loupe">
                        </div>
                </div>
                <div class="search_results"></div>
            </section>
        {% block body %}{% endblock %}
    </body>
</html>
